name: 'Z-CRON: Tear down - Test'

on:
  schedule:
    - cron: 59 17 * * 1-5 # utc time

permissions:
  pull-requests: write
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:
  remove_edge_associations:
    name: Remove Lambda@Edge Associations
    uses: ./.github/workflows/base-cleanup-lambda-edge.yml
    with:
      git_ref: main
      sandbox_name: ndr-test
      environment: test
    secrets:
      AWS_ASSUME_ROLE: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_WORKSPACE }}-github-actions-role

      # TODO: Use ${{ secrets.AWS_WORKSPACE }} or ${{ matrix.sandbox-name }} everywhere?

  cleanup_versions:
    name: Cleanup Versions
    uses: ./.github/workflows/base-cleanup-workspace.yml
    with:
      git_ref: main
      sandbox_name: ndr-test
      environment: test
    secrets:
      AWS_ASSUME_ROLE: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_WORKSPACE }}-github-actions-role

  terraform_destroy_process:
    name: Destroy Test Environment
    runs-on: ubuntu-latest
    environment: test
    needs: [cleanup_versions]
    strategy:
      matrix:
        # Can't use an env var here unfortunately, we will have to update here with new sandbox environments
        sandbox-name: [ndr-test]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: main

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_WORKSPACE }}-github-actions-role
          role-skip-session-tagging: true
          aws-region: ${{ vars.AWS_REGION }}
          mask-aws-account-id: true


      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.3
          terraform_wrapper: false

      - name: Initialise Terraform
        id: init
        run: terraform init -backend-config=backend-test.conf
        working-directory: ./infrastructure
        shell: bash

      - name: Select Terraform Workspace
        id: workspace
        run: terraform workspace select ${{ matrix.sandbox-name }}
        working-directory: ./infrastructure
        shell: bash

      - name: Pre-cleanup AWS Backup Recovery Points
        run: |
          BACKUP_VAULT_EXISTS=$(aws backup list-backup-vaults \
            --region eu-west-2 \
            --query "BackupVaultList[?BackupVaultName=='${{ matrix.sandbox-name }}_backup_vault']" \
            --output text)

          if [ -z "$BACKUP_VAULT_EXISTS" ]; then
            exit 0
          fi

          RECOVERY_POINTS=$(aws backup list-recovery-points-by-backup-vault \
            --backup-vault-name ${{ matrix.sandbox-name }}_backup_vault \
            --region eu-west-2 \
            --query 'RecoveryPoints[*].RecoveryPointArn' \
            --output text)

          for ARN in $RECOVERY_POINTS; do
            echo "Deleting recovery point: $ARN"
            aws backup delete-recovery-point \
              --backup-vault-name ${{ matrix.sandbox-name }}_backup_vault \
              --recovery-point-arn $ARN \
              --region eu-west-2
          done

      - name: Run Terraform Destroy
        id: destroy
        run: terraform destroy -auto-approve -var-file="${{ vars.TF_VARS_FILE }}"
        working-directory: ./infrastructure

  terraform_destroy_base_iam:
    name: Terraform Destroy base_iam
    runs-on: ubuntu-latest
    needs: [terraform_destroy_process]
    environment: test
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: main

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/dev-github-bootstrap
          aws-region: ${{ vars.AWS_REGION }}
          mask-aws-account-id: true

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.3

      - name: Initialise Terraform
        run: terraform init -backend-config=bucket=ndr-dev-terraform-state-${{ secrets.AWS_ACCOUNT_ID }}
        working-directory: ./base_iam

      - name: Select Terraform Workspace
        run: terraform workspace select ${{ secrets.AWS_WORKSPACE }}
        working-directory: ./base_iam

      - name: Run Terraform Destroy
        run: terraform destroy -auto-approve -var-file="${{ vars.TF_VARS_FILE }}" -var aws_account_id=${{ secrets.AWS_ACCOUNT_ID }}
        working-directory: ./base_iam
